---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={['column', 'column-right', className]}>
  <slot />
</div>

<style>
  .column-right {
    flex: 1;
    padding-left: 2rem;
  }
</style>
